.paper-bag-order-form td{
    padding-bottom: 50px;
}
.paper-bag-order-form label{
    text-align: right;
    margin-right: 10px;
}

.paper-bag-order-form input{
    border: none;
    border-bottom: 2px solid #e0e0e0;
    margin-right: 30px;
}

.paper-bag-order-form input:focus{
    outline: none;
    border-bottom: 2px solid #b8b8b8;
}

.paper-bag-order-form textarea{
    border-radius: 5px;
    border: 2px solid #e0e0e0;
}

.paper-bag-order-form textarea:focus{
    outline: none;
    border: 2px solid #b8b8b8;
}
