.top-banner{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #fbfbfb;
}

.top-banner-company-name{
    width: 200px;
    margin-left: 50px;
    margin-right: 10px;
    color: #313291;
    font-size: 25px;
    font-weight: bold;
}

.top-banner-role{
    margin-left: 10px;
    margin-right: 10px;
    color: #f44336;
    font-size: 20px;
    font-weight: bold;
}

.top-navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    margin-right: 50px;
}

.top-navbar ul{
    justify-content: center;
    list-style: none;
}

.top-navbar li{
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.top-navbar li a{
    display: block;
    text-decoration: none;
    color: #313291;
    padding: 10px 10px;
    /*border-bottom: 3px solid #d6d6d600;*/
    min-width: 170px;
    font-weight: bold;
}

.top-navbar li a:hover{
    text-decoration: none;
    color: #f44336;
    /*border-bottom: 3px solid #e7e7e7;*/
}
