.top-banner{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #f6f6f6;
}

.top-banner-company-name{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.top-banner-role{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
}

