.top-banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d6d6;
}

.top-banner h1{
    padding-left: 10px;
}

.top-banner h2{
    padding-right: 10px;
}


